{% extends 'base.html' %} 
{% block title %}Contact Us{% endblock %}
{% block content %}
<style>
  body {
    padding: 0;
    margin: 0;
    background: #fff;
    font-family: "Open-sans", sans-serif;
  }
  body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
  }
  body a:hover {
    text-decoration: none;
  }

  /* contact */
  .contact {
    text-align: center;
    background: gray;
    padding: 50px 0px;
  }
  .contact-heading h3 {
    text-transform: capitalize;
    text-align: center;
    font-size: 3em;
    font-weight: 600;
    color: #ffffff;
  }

  .contact-form input[type="text"],
  .contact-form input[type="email"],
  textarea {
    margin: 1em 0;
    padding: 0.6em 1em;
    font-size: 1.2em;
    width: 200%;
    background: #fff;
    border: none;
  }
  textarea {
    height: 100px;
  }
  input.form-control:focus {
    box-shadow: none;
  }
  button.btn.btn-default:focus {
    outline: none;
  }
  ::-webkit-input-placeholder {
    color: #666 !important;
  }
  .contact-form input[type="submit"] {
    margin-left: 450px;
    background: #ffb900;
    border: 2px solid #ffb900;
    padding: 0.3em 1em;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.2em;
    font-family: "Ropa Sans", sans-serif;
  }
  .contact-form input[type="submit"]:hover {
    background: none;
    color: #ffffff;
  }
  iframe {
    padding-top: 30px;
    border: none;
    width: 200%;
    height: 374px;
  }
  /* contact */
</style>
<section class="contact" id="contact">
  <div class="container">
    <div class="contact-heading">
      <h3>Contact us</h3>
    </div>
    <div class="contact-grids">
      <div class="col-md-6 contact-form">
        <form action="#" method="post">
          {% csrf_token %}
          <input type="text" placeholder="Subject" required="" name="Subject" />
          <input
            type="text"
            placeholder="Your name"
            required=""
            name="Yourname"
          />
          <input
            type="email"
            placeholder="Your mail"
            required=""
            name="Yourmail"
          />
          <textarea placeholder="Message" required="" name="Message"></textarea>
          <div class="submit1"><input type="submit" value="submit" /></div>
        </form>
      </div>
      <div class="col-md-6 map">
        <iframe
          width="600"
          height="450"
          frameborder="0"
          style="border: 0"
          src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Eiffel%20tower+(Map)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
          allowfullscreen
        ></iframe>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>
{% endblock %}
