{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container my-3">
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/images/img4.jpg" class="d-block w-100" height="500" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/images/img2.jpg" class="d-block w-100" height="500" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/images/img1.jpg" class="d-block w-100" height="500" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="container">
    <h5>Inventory management helps companies 
        identify which and how much stock to 
        order at what time. It tracks inventory 
        from purchase to the sale of goods. The practice identifies and 
        responds to trends to ensure there's always enough stock to fulfill customer orders 
        and proper warning of a shortage.</h5>
    <h5>Inventory management is the supervision of noncapitalized assets -- or inventory -- and stock items. 
        As a component of supply chain management, inventory management supervises 
        the flow of goods from manufacturers to warehouses and from these facilities to point of sale. 
        A key function of inventory management is to keep 
        a detailed record of each new or returned product as it enters or leaves a warehouse or point of sale.</h5> 
    <h5>from small to large businesses can make use of inventory management to track their flow of goods. 
        There are numerous inventory management techniques, and using the right one can lead to providing 
        the correct goods at the correct amount, place and time.</h5>
</div>
{% endblock %}