{% extends "base.html" %} {% block content %}

<div class="main-form-box my-md-3 bg-primary-subtle">
    <div class="container">
        <div class="row">
            <div class="col offset-md-4 my-md-2">
                <label for="email">Enter Email</label>
                <input type="email" class="mx-md-3">
            </div>
            <div class="row">
                <div class="col offset-md-5 my-md-3">
                    <button type="submit">Send Email</button>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}