{% extends "base.html" %}

{% block product_detail_link %}
{% block title.instance.get_absolute_url %}<li><a href="{% url 'product' %}">Products</a></li>{% endblock %}
{% endblock %}

{% block content %}
<!-- product section start -->
<div class="product_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="product_taital">Our Products</h1>
        <p class="product_text">
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation
        </p>
      </div>
    </div>
    <div class="product_section_2 layout_padding">
      <div class="row">
        {% for prod in ind %}
        <div class="col-lg-3 col-sm-6">
          <div class="product_box">
            <h4 class="bursh_text">{{prod.pTitle}}</h4>
            <p class="lorem_text">{{prod.pDesc}}</p>
            <img src="/media/{{prod.pImages}}" class="image_1" />
            <div class="btn_main">
              <div class="buy_bt">
                <ul>
                  <li class="active"><a href="#">Buy Now</a></li>
                  <li><a href="#">Buy Now</a></li>
                </ul>
              </div>
              <h3 class="price_text">Price ${{prod.pPrice}}</h3>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="seemore_bt"><a href="#">See More</a></div>
    </div>
  </div>
</div>
<!-- product section end -->

{% endblock %}
