{% extends "base.html" %} {% block content %}

<!-- contact section start -->
<div class="contact_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="contact_taital">Get In Touch</h1>
        <p class="contact_text">
          Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation eu
        </p>
      </div>
      <div class="col-md-6">
        <div class="contact_main">
          <div class="contact_bt">
            <a href="{% url 'contactus' %}" name="contactus">Contact Form</a>
          </div>
          <div class="newletter_bt">
            <a href="{% url 'contactus' %}" name="newletter">Newletter</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="map_main">
    <div class="map-responsive">
      <iframe
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France"
        width="600"
        height="400"
        frameborder="0"
        style="border: 0; width: 100%"
        allowfullscreen=""
      ></iframe>
    </div>
  </div>
</div>
<!-- contact section end -->
{% endblock %}
