{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>Reset your password</h1>
    </div>
    {% if validlink %}
    <p>Please enter your new password twice:</p>
    <form action="{% url 'password_reset_confirm' %}" method="post">
      {% csrf_token %}
      <div class="form-row my-3">
        <label for="id_newpassword" class="required mx-2">New Password:</label>
        <input
          type="password"
          name="password1"
          autofocus
          autocapitalize="none"
          maxlength="150"
          required
          id="id_newpassword"
        />
      </div>

      <div class="form-row my-3">
        <label for="id_confirmpassword" class="required mx-2"
          >Confirm Password:</label
        >
        <input
          type="password"
          name="password2"
          autofocus
          autocapitalize="none"
          maxlength="150"
          required
          id="id_confirmpassword"
        />
      </div>

      <div class="submit-row my-3">
        <input type="submit" value="Change my password" />
      </div>
    </form>
    {% else %}
    <div class="container">
      <p>
        The password reset link was invalid, possibly because it has already
        been used. Please request a new password reset.
      </p>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
