{% extends "base.html" %} {% block content %}
<!-- <div class="container">
  <div class="row">
    <div class="col-md-4 px-4">
      <h1>Forgotten your password?</h1>
    </div>
  </div>
  <p>Enter your e-mail address to obtain a new password.</p>
  <form action="." method="post">
    {% csrf_token %} {{ form.as_p }}
    <p><input type="submit" value="Send e-mail" /></p>
  </form>
</div> -->
  <head>
    <title>Log in | Django site admin</title>
  </head>
  <!-- Container -->
    <div id="container">
      <!-- END Header -->
      <div class="main" id="main">
        <div id="content-start" class="content" tabindex="-1">
          <!-- Content -->
          <div id="content" class="colM">
            <div id="content-main">
              <form
              action="{% url 'password_reset' %}"
                method="post"
                id="login-form"
              >
              {% csrf_token %}
                <div class="form-row my-3">
                  <label for="id_email" class="required mx-2">Email ID:</label>
                  <input
                    type="text"
                    name="email"
                    autofocus
                    autocapitalize="none"
                    autocomplete="email"
                    maxlength="150"
                    required
                    id="id_email"
                  />
                </div>
                <div class="submit-row my-3">
                  <input type="submit" value="Send E-Mail" />
                </div>
              </form>
            </div>

            <br class="clear" />
          </div>
          <!-- END Content -->
          <div id="footer"></div>
        </div>
      </div>
    </div>
    <!-- END Container -->
  </body>
</html>

{% endblock %}
