@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

body{
    background-image: url(img3.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

*{
    margin-top: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image: url(img3.jpg); */
    background-size: cover;
}
.contact .content{
    max-width: 1000px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.contact .content p{
    font-weight: 300;
    color: #fff;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px; 
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
}
.ContactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.ContactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.ContactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.ContactForm .inputBox input,
.ContactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.ContactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.ContactForm .inputBox input:focus ~ span,
.ContactForm .inputBox input:valid ~ span,
.ContactForm .inputBox textarea:focus ~ span,
.ContactForm .inputBox textarea:focus ~ span{
    color: blue;
    font-size: 12px;
    transform: translateY(-20px);
}
.ContactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #666;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
}
@media(max-width: 991px)
{
    .contact
    {
        padding: 50px;
    }
    .container
    {
        flex-direction: column;
    }
    .container .contactInfo
    {
        margin-bottom: 40px;
    }
    .container .contactInfo,.ContactForm
    {
        width: 100%;
    }
}

.contact .header{
    height: 15%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin-top: -100px;
    border-bottom: 2px solid #fff;
}

.contact .logo{
    width: 150px;
    cursor: pointer;
    margin-top: -10px;
}

.contact .navbar{
    text-align: right;
    margin: 40px;
    margin-right: 0px;
    flex: 1;
}

.contact .navbar a{
    padding: 6px 20px;
    text-decoration: none;
    color: antiquewhite;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bolder;
    border: 2px solid rgb(248, 150, 150);
}
.contact .navbar a:hover{
    color: greenyellow;
}*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container2{
    width: 100%;
    height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.container1{
    max-width: 1170px;
    margin: auto;
} 
.container1 h1{
    text-align: center;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: -70px;
    font-size: 40px;
}
.row{
    display:flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: black;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 30px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a :hover{
    color: #24262b;
    background-color: #ffffff;
}

/* REsponsive */
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}